:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #2b7fff;
  --color-primary-white: #ffffff;

  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-lightgrey: #747272;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
