.why {
  background-image: url(../images/why_background.svg);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  z-index: 2;
  margin-top: -120px;

  padding: 164px 0 20px;

  @media screen and (min-width: $bp-tablet) {
    padding: 198px 0 48px;
    margin-top: -150px;
  }

  &-title {
    margin: 0 auto 24px;
    @media screen and (min-width: $bp-tablet) {
      max-width: 432px;
      margin: 0 auto 48px;
    }
  }

  &__list {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      gap: 56px;
      flex-direction: row;
    }
  }

  &__card {
    max-width: 316px;
    padding: 24px 32px;
    border-radius: 32px;
    background-color: var(--color-primary-white);
  }

  &__title-card {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 0;
  }
}
